<div class="space-y-2">
  <%= link_to user_google_oauth2_omniauth_authorize_path,
      class: "btn btn-white" do %>
    <svg class="google-icon" viewBox="0 0 48 48"><path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303C33.186,31.987,29.028,35,24,35c-6.075,0-11-4.925-11-11 s4.925-11,11-11c2.802,0,5.357,1.055,7.3,2.789l5.657-5.657C33.907,7.14,29.211,5,24,5C12.955,5,4,13.955,4,25 s8.955,20,20,20s20-8.955,20-20C44,23.659,43.862,21.832,43.611,20.083z"/><path fill="#FF3D00" d="M6.306,14.691l6.571,4.817C14.294,16.361,18.824,13,24,13c2.802,0,5.357,1.055,7.3,2.789l5.657-5.657 C33.907,7.14,29.211,5,24,5C16.318,5,9.716,9.44,6.306,14.691z"/><path fill="#4CAF50" d="M24,45c5.005,0,9.646-1.917,13.172-5.045l-6.074-4.981C28.943,36.75,26.595,37.5,24,37.5 c-4.979,0-9.192-3.174-10.701-7.594l-6.535,5.035C9.094,41.137,16.001,45,24,45z"/><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-1.203,3.507-4.15,6.162-7.631,7.004l6.074,4.981 C35.367,39.856,44,33.5,44,25C44,23.659,43.862,21.832,43.611,20.083z"/></svg>
    Continue with Google
  <% end %>
</div>
