<h1 class="text-2xl font-bold mb-5 text-white">Popular TV</h1>
<% @page = (params[:page] || 1).to_i %>
<% @results = Tmdb.get("/tv/popular", page: @page)["results"] %>
<%= render "shared/grid", collection: @results %>
